<div class="px-4 py-5 my-5 text-center">
    <img class="w-600px" [src]="imageUrl + movie.poster_path" alt="..." />
    <h1 class="display-5 fw-bold">{{ movie.title }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ movie.overview }} </p>
      <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let genre of movie.genres">{{ genre.name }}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>